/*
    클래스 이름은 자동으로 고유해지기 때문에 마음대로 사용이 가능하다.
*/

.wrapper {
  background: black;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  &.inverted {
    // inverted가 .wrapper와 함께 사용되었을 때만 적용
    color: black;
    background: white;
    border: 1px solid black;
  }
}

/*
.wrapper {
  background: black;
  padding: 1rem;
  color: white;
  font-size: 2rem;
}

.inverted {
  color: black;
  background: white;
  border: 1px solid black;
}
*/

/*
    글로벌 CSS를 작성하고 싶다면    
*/

:global {
  // :global {}로 감싸기
  .something {
    font-weight: 800;
    color: aqua;
  }
}

/*
:global .something {
  font-weight: 800;
  color: aqua;
}

:local .wrapper {
  (style)
}
:local {
  .wrapper {
    (style)
  }
}
*/
